body{
    background-color: #FAFAFA;
}
.loginPage_main{
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
}
.loginPage_logo{
    width: 175px;
    margin-top: 25px;
}
.LoginPage_right{
   
    width: 350px;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    text-align: center;
    background-color: white;
    /* padding-bottom: 27px; */
}
.loginPage_signin{
    margin-top: 25px;
}
.login_text{
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;

}
.login_button{
    width: 270px;
    border-radius: 5px;
    height: 36px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color:  #0395F6;
    color: white;

}
.login_ordiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login_divider{
    width: 80px;
    height: 0px;
    border: 1px solid #dbdbdb;
    margin-top: 10px;

}
.login_or{
    margin: 0px 20px;
    font-weight: bold;
    color: #8E8E8E;
}
.Login_fb{
        color: #395185 ;
        font-weight: bold;
}
.Login_fp{
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;


}
.loginIn_SignupOptions{
    margin-top: 30px;
    height: 56px;
    width: 350px;
    border: 1px solid #DBDBDB;
    background-color: white;
    text-align: center;

}
.Login_getApp{
    margin: 10px;
}
.login_getApp_img{
    margin: 10px 5px;

}